In [14]:
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource
from bokeh.models.ranges import FactorRange
from bokeh.plotting import figure
import pandas as pd
from math import pi

In [15]:
data = pd.read_csv('LinkedIn_Boot_Camp_Profiles.csv')

In [16]:
data

                  boot_camp  LI_profiles  work_there    ratio
0          General Assembly        20543           8  0.00039
1           Flatiron School         1498         108  0.07210
2               Springboard         1003          46  0.04586
3                  Thinkful          915          93  0.10164
4                 Galvanize          800          91  0.11375
5  NYC Data Science Academy          408          28  0.06863
6        The Data Incubator          396           9  0.02273
7              Dataquest.io          299           6  0.02007
8                     Metis          116           8  0.06897
9                     RMOTR           52           3  0.05769

In [17]:
data = pd.read_csv('LinkedIn_Boot_Camp_Profiles.csv')

output_file('dsbc_bar.html')

source = ColumnDataSource(data=data)

p = figure(x_range=list(data['boot_camp'].values),y_range=(0,15),
           x_axis_label='Boot Camp',
           y_axis_label='% of Alumni Hired by Boot Camp',
           title='Data Science Boot Camp LinkedIn Alumni Self-Hire Ratios',
           title_location = 'above')

In [18]:
p.vbar(x=data['boot_camp'].values,top=list(data['ratio'].values*100.0),width=0.2)

p.xaxis.major_label_orientation = pi/4

show(p)