**Project Milestone:** Manipulate some randomly generated data in a pandas dataframe. Make sure you know how to select a specific column, how to set the dataframe index (and, in particular, how to make it a datetime index), and how to select ranges of rows by index.

In [2]:
import pandas as pd
import numpy as np

In [18]:
t = np.random.random((5,5))
d = pd.DataFrame(t)

d.columns = ['A','B','C','D','E']
d[2:4] #by index values

          A         B         C         D         E
2  0.262145  0.884441  0.125312  0.598280  0.042681
3  0.958982  0.223490  0.385587  0.247189  0.483193

In [20]:
d['C'] #by column name

0    0.116819
1    0.202646
2    0.125312
3    0.385587
4    0.096652
Name: C, dtype: float64

In [29]:
ts_gen = pd.to_datetime(1490195805433502912, unit='ns') #generate some timestamp data
inds = [ts_gen]
for j in range(4):
    ts_gen = ts_gen + pd.to_timedelta(700000000000,unit='ns')
    inds.append(ts_gen)

inds

[Timestamp('2017-03-22 15:16:45.433502912'),
 Timestamp('2017-03-22 15:28:25.433502912'),
 Timestamp('2017-03-22 15:40:05.433502912'),
 Timestamp('2017-03-22 15:51:45.433502912'),
 Timestamp('2017-03-22 16:03:25.433502912')]

In [33]:
iii = pd.DatetimeIndex(inds)
iii

DatetimeIndex(['2017-03-22 15:16:45.433502912',
               '2017-03-22 15:28:25.433502912',
               '2017-03-22 15:40:05.433502912',
               '2017-03-22 15:51:45.433502912',
               '2017-03-22 16:03:25.433502912'],
              dtype='datetime64[ns]', freq=None)

In [35]:
d.index = iii
d

,A,B,C,D,E
2017-03-22 15:16:45.433502912,0.362358,0.420365,0.116819,0.788213,0.009947
2017-03-22 15:28:25.433502912,0.472294,0.651815,0.202646,0.793618,0.799170
2017-03-22 15:40:05.433502912,0.262145,0.884441,0.125312,0.598280,0.042681
2017-03-22 15:51:45.433502912,0.958982,0.223490,0.385587,0.247189,0.483193
2017-03-22 16:03:25.433502912,0.316729,0.936272,0.096652,0.829429,0.531239

In [39]:
d[d.index>pd.to_datetime(1490197805433502912, unit='ns')] #Using the index to filter for timestamps

,A,B,C,D,E
2017-03-22 15:51:45.433502912,0.958982,0.223490,0.385587,0.247189,0.483193
2017-03-22 16:03:25.433502912,0.316729,0.936272,0.096652,0.829429,0.531239